<div class="container-fluid">

    <loading ng-show="$ctrl.loading"></loading>

    <div class="row">
        <div class="col">
            <h1>用户资源</h1>
        </div>
    </div>

    <p>
        <a href="#!/identityresources/0" class="btn btn-primary">创建</a>
        |
        <button type="button" class="btn btn-primary" ng-click="$ctrl.IData_Get()">查询</button>
    </p>

    <div class="animated fadeIn table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th width="50px">
                        <input type="checkbox" ng-click="$ctrl.ICKAll()" ng-checked="$ctrl.ckAll==true" />
                    </th>
                    <th>#</th>
                    <th ng-repeat="x in $ctrl.Theads">{{x.Title}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in $ctrl.data.data">
                    <td>
                        <input type="checkbox" value="{{x.id}}" class="EntityItem" ng-checked="$ctrl.ckAll==true" />
                    </td>
                    <td>
                        {{x.id}}
                    </td>
                    <td>
                        {{x.name}}
                        <br />
                        {{x.displayName}}
                    </td>
                    <td>
                        {{x.description}}
                    </td>
                    <td>
                        <a class="btn btn-link" href="#!/identityresources/{{x.id}}">编辑</a> | 
                        <button type="button" class="btn btn-link" ng-click="$ctrl.IDelete(x.id)">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <pager></pager>
</div>