<div class="container-fluid">
    <loading ng-show="$ctrl.loading"></loading>
    <div class="py-4 mx-3">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" ng-click="tabIndex=1" ng-class="{active:tabIndex==1}">应用列表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-click="tabIndex=2" ng-class="{active:tabIndex==2}">开发&发布应用</a>
                    </li>
                </ul>
                <div class="tab-content py-3">
                    <div class="tab-pane" ng-class="{'show active':tabIndex==1}">
    <div class="row">
        <div class="col-4 mb-3" ng-repeat="x in $ctrl.apps">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{x.Name}} <span ng-if="x.DefaultApp" class="badge badge-warning font-weight-normal">默认</span></h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{x.PackageName}}
                        <p class="pt-2">
                            <a href="https://www.npmjs.com/package/{{x.PackageName}}" target="_blank" class="mt-1">
                                <img src="https://img.shields.io/npm/v/{{x.PackageName}}.svg">
                            </a>
                            <img src="https://img.shields.io/npm/dw/{{x.PackageName}}.svg" class="ml-1">
                        </p>
                    </h6>
                    <hr />
                    <p class="card-text">
                        {{x.Description}}
                    </p>
                    <button type="button" class="btn btn-primary" ng-click="$ctrl.openApp(x.PackageName)">进入控制台</button>
                    <button type="button" class="btn btn-danger ml-1" ng-click="$ctrl.removeApp(x.PackageName)" ng-if="!x.DefaultApp">删除</button>
                </div>
            </div>
        </div>
    </div>
</div>
                    <div class="tab-pane" ng-class="{'show active':tabIndex==2}">
                        <div class="row px-3">
                            <div class="col">
                                <h4>开发应用</h4>
                                <hr />
                                <ul>
                                    <li>
                                        <h5>安装脚手架</h5>
                                        <div class="alert alert-secondary">
                                            npm install -g identityserver4.Micoservice.cli
                                        </div>
                                    </li>
                                    <li>
                                        <h5>创建应用</h5>
                                        <div class="alert alert-secondary">
                                            ids4.ms new App1
                                        </div>
                                    </li>
                                    <li>
                                        <h5>打包应用</h5>
                                        <div class="alert alert-secondary">
                                            cd App1 <br />
                                            npm install <br />
                                            gulp build
                                        </div>
                                    </li>
                                    <li>
                                        <h5>发布应用</h5>
                                        <div class="alert alert-secondary">
                                            npm publish
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <h4>发布应用</h4>
                                <hr />
                                <div class="form-row align-items-center my-3">
                                    <div class="col-8">
                                        <label>包名称</label>
                                        <input type="text" class="form-control" id="inputPackageName">
                                        <small id="emailHelp" class="form-text text-muted">必须先成功发布到https://npmjs.com/</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>应用Icon</label>
                                    <input type="text" id="inputAppIcon" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>应用名称</label>
                                    <input type="text" id="inputAppName" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>应用介绍</label>
                                    <textarea rows="6" id="inputAppDescription" class="form-control"></textarea>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary" ng-click="$ctrl.registerApp()">发布</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>