<div class="container-fluid">
    <loading ng-show="$ctrl.loading"></loading>
    <div class="py-4 mx-3">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" ng-click="tabIndex=1" ng-class="{active:tabIndex==1}">应用列表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-click="tabIndex=2" ng-class="{active:tabIndex==2}">开发应用</a>
                    </li>
                </ul>
                <div class="tab-content py-3">
                    <div class="tab-pane" ng-class="{'show active':tabIndex==1}">
                        <div class="row">
                            <div class="col-4 mb-3" ng-repeat="x in $ctrl.apps">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            {{x.Name}}
                                            <small class="float-right" ng-if="x.OnVersioning||x.OnUpdatingApp"><loading></loading></small>
                                            <a href="https://www.npmjs.com/package/{{x.PackageName}}" target="_blank" class="mt-1">
                                                <small class="badge badge-success font-weight-normal float-right" ng-if="x.versions[0] <= x.Version&&!x.OnUpdatingApp">v{{x.Version}}</small>
                                            </a>
                                            <span ng-if="x.DefaultApp" class="badge badge-warning font-weight-normal">默认</span>
                                            <button type="button" class="btn btn-scondary btn-sm float-right" ng-if="x.versions[0] > x.Version&&!x.OnUpdatingApp" ng-click="$ctrl.updateApp(x.PackageName,x)">
                                                v{{x.Version}}升级<b>v{{x.versions[0]}}</b>
                                            </button>
                                        </h5>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            {{x.PackageName}}
                                        </h6>
                                        <hr />
                                        <p class="card-text">
                                            {{x.Description}}
                                        </p>
                                        <button type="button" class="btn btn-primary" ng-click="$ctrl.openApp(x.PackageName)">进入控制台</button>
                                        <button type="button" class="btn btn-danger ml-1" ng-click="$ctrl.removeApp(x.PackageName,x)" ng-if="!x.OnRemoveApp">卸载</button>
                                        <loading ng-if="x.OnRemoveApp"></loading>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" ng-class="{'show active':tabIndex==2}">
                        <div class="row px-3">
                            <div class="col">
                                <h4>安装应用</h4>
                                <hr />

                                <div class="form-group my-3">
                                    <button type="button" class="btn btn-light btn-primary border border-secondary"
                                            data-toggle="modal" data-target=".bd-example-modal-lg">
                                        <i class="mdui-icon material-icons" ng-if="inputAppIcon" style="font-size:48px;color:rgba(0,0,0,.54)">{{inputAppIcon}}</i>
                                        <font ng-if="!inputAppIcon">选择图标</font>
                                    </button>
                                </div>

                                <div class="form-row align-items-center my-3">
                                    <div class="col-4">
                                        <label>搜索NPM包 <i class="text-danger">*</i></label>
                                        <input type="text" class="form-control" ng-model="packageQuery" placeholder="输入npm包的关键字" />
                                    </div>
                                    <div class="col-8">
                                        <div ng-if="onAppSearch==true">loading...</div>
                                        <div ng-if="onAppSearch==false&&searchResult">
                                            <label>选择NPM包 <i class="text-danger">*</i></label>
                                            <select id="inputPackageName" ng-model="inputPackageName" class="form-control" required ng-change="$ctrl.AutoFillAppForm(inputPackageName)">
                                                <option ng-repeat="x in searchResult" value="{{x.name}}"
                                                        title="{{x.description}}">
                                                    {{x.name}}@{{x.version}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>菜单名称 <i class="text-danger">*</i></label>
                                    <input type="text" ng-model="inputAppName" class="form-control" placeholder="当前应用的菜单名称" required />
                                </div>
                                <div class="form-group">
                                    <label>应用介绍</label>
                                    <textarea rows="6" ng-model="inputAppDescription" class="form-control"></textarea>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary" ng-click="$ctrl.registerApp()" ng-if="!OnRegisterApp">安装应用</button>
                                        <loading ng-if="OnRegisterApp"></loading>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <h4>开发应用</h4>
                                <hr />
                                <ul>
                                    <li>
                                        <h5>1，安装脚手架</h5>
                                        <div class="alert alert-secondary">
                                            npm i -g identityserver4.microservice.cli <code> //安装脚手架工具</code>
                                        </div>
                                    </li>
                                    <li>
                                        <h5>2，创建应用</h5>
                                        <div class="alert alert-secondary">
                                            ids4ms newapp helloworld <code> //使用脚手架创建1个应用，helloworld名字可以改为自定义名称</code>
                                        </div>
                                    </li>
                                    <li>
                                        <h5>3，本地发开&嵌入平台调试</h5>
                                        <div class="alert alert-secondary">
                                            cd helloworld <code> //进入helloworld文件夹</code><br />
                                            npm install <code> //安装应用所需的npm包</code><br />
                                            npm run start <code> //启动应用，默认网址http://127.0.0.1:8080</code><br />
                                            嵌入平台调试：打开<a href="{{devUrl}}?dev=http://127.0.0.1:8080" target="_parent">{{devUrl}}?dev=http://127.0.0.1:8080</a>
                                            <code>{http://127.0.01:8080是您的应用url}</code>
                                        </div>
                                    </li>
                                    <li>
                                        <h5>4，打包应用</h5>
                                        <div class="alert alert-secondary">
                                            gulp build <code> //打包应用，打包后的目录为build文件夹</code>
                                        </div>
                                    </li>
                                    <li>
                                        <h5>5，发布应用</h5>
                                        <div class="alert alert-secondary">
                                            cd build  <code> //进入build文件夹</code><br />
                                            npm publish <code> //发布包到npm平台</code>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="iconModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="max-height:600px;overflow-y:scroll">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col my-3" ng-repeat="x in $ctrl.icons">
                            <button type="button" class="btn btn-light btn-sm" ng-click="$ctrl.setIcon(x)">
                                <i class="mdui-icon material-icons">{{x}}</i>
                            </button>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>

</div>