<div class="container-fluid">
    <loading ng-show="$ctrl.loading_getDetail"></loading>

    <h1 ng-show="$ctrl.id>0">应用详情</h1>
    <h1 ng-show="$ctrl.id==0">创建应用</h1>

    <form ng-submit="$ctrl.createOrUpdate()">

        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" ng-init="areaIndex=0">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" ng-class="{active:areaIndex==0}" ng-click="areaIndex=0;">应用配置</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" ng-class="{active:areaIndex==1}" ng-click="areaIndex=1;">登录&退出</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" ng-class="{active:areaIndex==2}" ng-click="areaIndex=2;">令牌</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" ng-class="{active:areaIndex==3}" ng-click="areaIndex=3;">授权界面</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div ng-show="areaIndex==0">
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="clientEnabled"
                                   ng-checked="$ctrl.data.enabled" ng-model="$ctrl.data.enabled">
                            <label class="form-check-label" for="clientEnabled">启用</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>应用ID</label>
                        <input class="form-control" type="text" ng-model="$ctrl.data.clientId" required />
                    </div>

                    <br />
                    <div class="card">
                        <div class="card-header">
                            应用密钥
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>密钥</th>
                                        <th>描述</th>
                                        <th width="200px">类型</th>
                                        <th width="200px">到期时间</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in $ctrl.data.clientSecrets track by $index">
                                        <td><input disabled type="text" class="form-control" ng-model="x.value" /></td>
                                        <td><textarea rows="2" class="form-control" ng-model="x.description"></textarea></td>
                                        <td>
                                            <select disabled class="form-control" ng-options="s.value as s.label for s in $ctrl.secretTypes" ng-model="x.type"></select>
                                        </td>
                                        <td><input type="text" class="form-control" ng-model="x.expiration" /></td>
                                        <td><button type="button" class="btn btn-link" ng-click="$ctrl.delSecret($index)">删除</button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <button type="button" ng-click="$ctrl.addSecret()">添加</button>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="clientRequireClientSecret"
                                   ng-checked="$ctrl.data.requireClientSecret" ng-model="$ctrl.data.requireClientSecret">
                            <label class="form-check-label" for="clientRequireClientSecret">必须使用密钥</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>授权类型</label>
                        <select class="form-control"
                                ng-model="$ctrl.selectedGrantType"
                                ng-options="item.grantType as item.label for item in $ctrl.grantTypes" required></select>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="clientRequirePkce"
                                   ng-checked="$ctrl.data.requirePkce" ng-model="$ctrl.data.requirePkce">
                            <label class="form-check-label" for="clientRequirePkce">requirePkce</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="clientAllowPlainTextPkce"
                                   ng-checked="$ctrl.data.allowPlainTextPkce" ng-model="$ctrl.data.allowPlainTextPkce">
                            <label class="form-check-label" for="clientAllowPlainTextPkce">allowPlainTextPkce</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="clientAllowOfflineAccess"
                                   ng-checked="$ctrl.data.allowOfflineAccess" ng-model="$ctrl.data.allowOfflineAccess">
                            <label class="form-check-label" for="clientAllowOfflineAccess">允许刷新令牌</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="clientAllowAccessTokensViaBrowser"
                                   ng-checked="$ctrl.data.allowAccessTokensViaBrowser" ng-model="$ctrl.data.allowAccessTokensViaBrowser">
                            <label class="form-check-label" for="clientAllowAccessTokensViaBrowser">允许浏览器接收令牌</label>
                        </div>
                    </div>
                    <br />

                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs" ng-init="basicTabIndex=0">
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)" ng-class="{active:basicTabIndex==0}" ng-click="basicTabIndex=0;">可接收令牌、授权码的地址</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)" ng-class="{active:basicTabIndex==1}" ng-click="basicTabIndex=1;">应用权限</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)" ng-class="{active:basicTabIndex==2}" ng-click="basicTabIndex=2;">扩展属性</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div ng-show="basicTabIndex==0">
                                <div class="form-group form-row align-items-center" ng-repeat="x in $ctrl.data.redirectUris track by $index">
                                    <div class="col-10">
                                        <input class="form-control" type="text" ng-model="x.redirectUri" />
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-link" ng-click="$ctrl.delRedirectUri($index)">删除</button>
                                    </div>
                                </div>

                                <button type="button" ng-click="$ctrl.addRedirectUri()">添加</button>
                            </div>
                            <div ng-show="basicTabIndex==1">
                                <div class="form-group form-row align-items-center" ng-repeat="x in $ctrl.data.allowedScopes track by $index">
                                    <div class="col-10">
                                        <input class="form-control" type="text" ng-model="x.scope" />
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-link" ng-click="$ctrl.delScope($index)">删除</button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-10">
                                        <select class="form-control" ng-model="$ctrl.selectedScope">
                                            <optgroup ng-repeat="(key , value) in $ctrl.scopes" label="{{key}}">
                                                <option ng-repeat="x in value" value="{{x.code}}">
                                                    {{x.name}} - {{x.code}}
                                                </option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <button type="button" ng-click="$ctrl.addScope()">添加</button>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="basicTabIndex==2">
                                <div class="form-group form-row align-items-center" ng-repeat="x in $ctrl.data.properties track by $index">
                                    <div class="col">
                                        <input class="form-control" type="text" ng-model="x.key" placeholder="类型:" />
                                    </div>
                                    <div class="col">
                                        <textarea class="form-control" ng-model="x.value" placeholder="值:" rows="2"></textarea>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-link" ng-click="$ctrl.delProperty($index)">删除</button>
                                    </div>
                                </div>

                                <button type="button" ng-click="$ctrl.addProperty()">添加</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div ng-show="areaIndex==1">

                    <div class="form-group">
                        <label>认证协议</label>
                        <select class="form-control" ng-model="$ctrl.data.protocolType" ng-options="x.value as x.label for x in $ctrl.protocolTypes"></select>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="clientFrontChannelLogoutSessionRequired"
                                   ng-checked="$ctrl.data.frontChannelLogoutSessionRequired" ng-model="$ctrl.data.frontChannelLogoutSessionRequired">
                            <label class="form-check-label" for="clientFrontChannelLogoutSessionRequired">frontChannelLogoutSessionRequired</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" ng-model="$ctrl.data.frontChannelLogoutUri" placeholder="frontChannelLogoutUri" />
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="clientBackChannelLogoutSessionRequired"
                                   ng-checked="$ctrl.data.backChannelLogoutSessionRequired" ng-model="$ctrl.data.backChannelLogoutSessionRequired">
                            <label class="form-check-label" for="clientBackChannelLogoutSessionRequired">backChannelLogoutSessionRequired</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" ng-model="$ctrl.data.backChannelLogoutUri" placeholder="backChannelLogoutUri" />
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="clientEnableLocalLogin"
                               ng-checked="$ctrl.data.enableLocalLogin" ng-model="$ctrl.data.enableLocalLogin">
                        <label class="form-check-label" for="clientEnableLocalLogin">允许本地登录</label>
                    </div>

                    <br />

                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs" ng-init="authTabIndex=0">
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)" ng-class="{active:authTabIndex==0}" ng-click="authTabIndex=0;">退出重定向地址</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)" ng-class="{active:authTabIndex==1}" ng-click="authTabIndex=1;">可使用身份认证服务</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div ng-show="authTabIndex==0">
                                <div class="form-group form-row align-items-center" ng-repeat="x in $ctrl.data.postLogoutRedirectUris track by $index">
                                    <div class="col-10">
                                        <input class="form-control" type="text" ng-model="x.postLogoutRedirectUri" />
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-link" ng-click="$ctrl.delPostLogoutRedirectUri($index)">删除</button>
                                    </div>
                                </div>

                                <button type="button" ng-click="$ctrl.addPostLogoutRedirectUri()">添加</button>
                            </div>
                            <div ng-show="authTabIndex==1">
                                <div class="alert alert-light alert-dismissible fade show" role="alert">
                                    如果不设置，全部都可以使用
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="form-group form-row align-items-center" ng-repeat="x in $ctrl.data.identityProviderRestrictions track by $index">
                                    <div class="col-10">
                                        <input class="form-control" type="text" ng-model="x.provider" />
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-link" ng-click="$ctrl.delIDPRestriction($index)">删除</button>
                                    </div>
                                </div>

                                <button type="button" ng-click="$ctrl.addIDPRestriction()">添加</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="areaIndex==2">
                    <div class="form-group">
                        <label>identityToken 有效时间（秒）</label>
                        <input class="form-control" type="number" ng-model="$ctrl.data.identityTokenLifetime" />
                    </div>

                    <div class="form-group">
                        <label>accessToken 有效时间（秒）</label>
                        <input class="form-control" type="number" ng-model="$ctrl.data.accessTokenLifetime" />
                    </div>

                    <div class="form-group">
                        <label>authorizationCode 有效时间（秒）</label>
                        <input class="form-control" type="number" ng-model="$ctrl.data.authorizationCodeLifetime" />
                    </div>

                    <div class="form-group form-row align-items-center">
                        <div class="col-4">
                            <label>refreshToken 用法</label>
                            <select class="form-control" ng-model="$ctrl.data.refreshTokenUsage" ng-options="x.value as x.name for x in $ctrl.refreshTokenUsages"></select>
                        </div>
                        <div class="col-4">
                            <label>refreshToken 过期方式</label>
                            <select class="form-control" ng-model="$ctrl.data.refreshTokenExpiration" ng-options="x.value as x.name for x in $ctrl.refreshTokenExpirations"></select>
                        </div>
                        <div class="col-4">
                            <label>refreshToken 有效时间（秒）</label>
                            <input ng-show="$ctrl.data.refreshTokenExpiration==0" class="form-control" type="number" ng-model="$ctrl.data.slidingRefreshTokenLifetime" />
                            <input ng-show="$ctrl.data.refreshTokenExpiration==1" class="form-control" type="number" ng-model="$ctrl.data.absoluteRefreshTokenLifetime" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="clientUpdateAccessTokenClaimsOnRefresh"
                                   ng-checked="$ctrl.data.updateAccessTokenClaimsOnRefresh" ng-model="$ctrl.data.updateAccessTokenClaimsOnRefresh">
                            <label class="form-check-label" for="clientUpdateAccessTokenClaimsOnRefresh">updateAccessTokenClaimsOnRefresh</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>accessToken 类型</label>
                        <select class="form-control" ng-model="$ctrl.data.accessTokenType"
                                ng-options="x.value as x.name for x in $ctrl.accessTokenTypes"></select>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="clientIncludeJwtId"
                                   ng-checked="$ctrl.data.includeJwtId" ng-model="$ctrl.data.includeJwtId">
                            <label class="form-check-label" for="clientIncludeJwtId">包含JwtId</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="clientAlwaysSendClientClaims"
                                   ng-checked="$ctrl.data.alwaysSendClientClaims" ng-model="$ctrl.data.alwaysSendClientClaims">
                            <label class="form-check-label" for="clientAlwaysSendClientClaims">附加应用Claims到accessToken</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>应用Claims 前缀</label>
                        <input class="form-control" type="text" ng-model="$ctrl.data.clientClaimsPrefix" />
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="clientAlwaysIncludeUserClaimsInIdToken"
                                   ng-checked="$ctrl.data.alwaysIncludeUserClaimsInIdToken" ng-model="$ctrl.data.alwaysIncludeUserClaimsInIdToken">
                            <label class="form-check-label" for="clientAlwaysIncludeUserClaimsInIdToken">附加用户Claims到identityToken</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>pairWiseSubjectSalt</label>
                        <input class="form-control" type="text" ng-model="$ctrl.data.pairWiseSubjectSalt" />
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs" ng-init="tokenTabIndex=0">
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)" ng-class="{active:tokenTabIndex==0}" ng-click="tokenTabIndex=0;">应用Claims</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0)" ng-class="{active:tokenTabIndex==1}" ng-click="tokenTabIndex=1;">JavaScript客户端跨域地址</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div ng-show="tokenTabIndex==0">
                                <div class="form-group form-row align-items-center" ng-repeat="x in $ctrl.data.claims track by $index">
                                    <div class="col-auto">
                                        <input class="form-control" type="text" ng-model="x.type" />
                                    </div>
                                    <div class="col-auto">
                                        <input class="form-control" type="text" ng-model="x.value" />
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-link" ng-click="$ctrl.delClaim($index)">删除</button>
                                    </div>
                                </div>
                                <button type="button" ng-click="$ctrl.addClaim()">添加</button>
                            </div>
                            <div ng-show="tokenTabIndex==1">
                                <div class="form-group form-row align-items-center" ng-repeat="x in $ctrl.data.allowedCorsOrigins track by $index">
                                    <div class="col-10">
                                        <input class="form-control" type="text" ng-model="x.origin" />
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-link" ng-click="$ctrl.delCorsOrigin($index)">删除</button>
                                    </div>
                                </div>

                                <button type="button" ng-click="$ctrl.addCorsOrigin()">添加</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div ng-show="areaIndex==3">
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="clientRequireConsent"
                                   ng-checked="$ctrl.data.requireConsent" ng-model="$ctrl.data.requireConsent">
                            <label class="form-check-label" for="clientRequireConsent">必须用户授权</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="clientAllowRememberConsent"
                                   ng-checked="$ctrl.data.allowRememberConsent" ng-model="$ctrl.data.allowRememberConsent">
                            <label class="form-check-label" for="clientAllowRememberConsent">允许记住用户授权</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>用户授权有效时间（秒） <small>为空代表永不过期</small></label>
                        <input class="form-control" type="number" ng-model="$ctrl.data.consentLifetime" />
                    </div>

                    <div class="form-group">
                        <label>应用名称</label>
                        <input class="form-control" type="text" ng-model="$ctrl.data.clientName" />
                    </div>

                    <div class="form-group">
                        <label>主页</label>
                        <input class="form-control" type="text" ng-model="$ctrl.data.clientUri" />
                    </div>

                    <div class="form-group">
                        <label>应用图标</label>
                        <br />

                        <div class="form-row">
                            <div class="col-auto">
                                <img ng-src="{{$ctrl.data.logoUri}}" class="img-thumbnail" width="64px" />
                            </div>
                            <div class="col-auto">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFileLang" lang="es" />
                                    <label class="custom-file-label" for="customFileLang">上传图片</label>
                                </div>
                            </div>
                            <div class="col-8"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>介绍</label>
                        <textarea class="form-control" rows="2" ng-model="$ctrl.data.description"></textarea>
                    </div>

                </div>


            </div>
        </div>

        <br />
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </div>
    </form>
</div>