<div>
    <loading ng-show="$ctrl.loading"></loading>
    <div class="animated fadeIn">
        <table class="mdui-table" ng-show="!$ctrl.loading">
            <thead>
                <tr>
                    <th>#</th>
                    <th ng-repeat="x in $ctrl.Theads">{{x.Title}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in $ctrl.data.data">
                    <td>{{$index+1}}</td>
                    <td>{{x.userId}}</td>
                    <td>
                        <img ng-src="{{x.avatar}}" class="img-thumbnail">

                        {{x.userName}}
                        <p>
                            <span ng-repeat="x in x.roles" class="badge badge-light">{{x.normalizedName}}</span>
                        </p>
                    </td>
                    <td>{{x.createDate}}</td>
                    <td>
                        <a class="mdui-btn mdui-color-theme-accent mdui-ripple" href="#!/users/{{x.userId}}">编辑</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>