<div class="container-fluid">

    <loading ng-show="$ctrl.loading"></loading>

    <div class="row">
        <div class="col">
            <h1>应用</h1>
        </div>
    </div>

    <p>
        <a href="#!/clients/0" class="btn btn-primary">创建</a>
        |
        <button type="button" class="btn btn-primary" ng-click="$ctrl.IData_Get()">查询</button>
    </p>

    <div class="animated fadeIn table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th width="50px">
                        <input type="checkbox" ng-click="$ctrl.ICKAll()" ng-checked="$ctrl.ckAll==true" />
                    </th>
                    <th>#</th>
                    <th ng-repeat="x in $ctrl.Theads">{{x.Title}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in $ctrl.data.data">
                    <td>
                        <input type="checkbox" value="{{x.id}}" class="EntityItem" ng-checked="$ctrl.ckAll==true" />
                    </td>
                    <td>{{$index+1}}</td>
                    <td>
                        {{x.clientName}}
                        <br />
                        <img width="48px" ng-src="{{x.logoUri}}" class="img-thumbnail">
                    </td>
                    <td>
                        <p>
                            <span ng-repeat="xx in $ctrl.grantTypes"
                                  ng-if="x.allowedGrantTypes == xx.grantType">{{xx.label}}</span>

                            <!--<span ng-repeat="x in x.allowedGrantTypes" class="badge badge-light">{{x.grantType}}</span>-->
                        </p>
                        应用ID: <span>{{x.clientId}}</span>
                    </td>
                    <td>
                        <a class="btn btn-link" href="#!/clients/{{x.id}}">编辑</a> |
                        <button type="button" class="btn btn-link" ng-click="$ctrl.IDelete(x.id)">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <pager></pager>
</div>