@{
    ViewData["Title"] = "Home Page";
}
<div class="mdui-progress" id="appLoadingBar" style="display:none;">
    <div class="mdui-progress-indeterminate"></div>
</div>
<iframe id="appIframe" scrolling="no" frameborder="0"></iframe>